@model iTrade.Models.PoKivOrder
           
<!-- begin panel -->
<div class="panel panel-inverse">
    <div class="panel-body">
        <div id="item-session">

            @{Html.RenderAction("_DisplayKivDets", "PoKivOrders", new { id = Model.KorID, act = ViewBag.Act });}




            <div class="row">
                <div class="col-md-8">
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2">

                            @if (ViewBag.Act != "1")
                            {
                                @Html.EditorFor(model => model.Remark, new { htmlAttributes = new { id = "inputRemark", @class = "form-control", placeholder = "Remarks" } })

                            }
                            else
                            {
                                if (!string.IsNullOrEmpty(Model.Remark))
                                {
                                    <span>
                                        Remark: <br /> @Html.DisplayFor(model => model.Remark, new { htmlAttributes = new { @class = "form-control" } })
                                    </span>
                                }
                            }
                        </div>
                    </div>
                    <br />

                    @*<div class="row">
                        <div class="col-md-11  col-md-offset-1">
                            <span class="lead"><u>KIV Info </u></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-11  col-md-offset-1">
                            <div id="divKivDets">
                                @{Html.RenderAction("_DisplayKivDets", "KivOrders", new { id = Model.KorID, act = ViewBag.Act });}
                            </div>
                        </div>
                    </div>*@



                </div>
                <div class="col-md-4">
 
                </div>
            </div>



        </div>
    </div>
</div>
<!-- end panel -->
 




 
 

